body{
 background-color: #ffe8f4;
}
img.size{
  width: 550px;
  height: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16%;
  height: 16%;
}
h3{
  font-family: 'Sulphur Point', sans-serif;
  text-align: center;
  font-size: 60px;
}
table{
  width: 105%;
  font-family: 'Sulphur Point', sans-serif;
  font-size: 30px;
}
h1{
  text-align: center;
}
.topbar{
  background-color: pink;
  overflow: hidden;
}
.topbar a:hover{
  background-color: white;
}
.topbar a.active{
  color: black;
}
h2 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size:70px;
}
p{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 30px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content:"";
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
}
