body{
 background-image:url(img/roses.jpg);
}
img.Lol{
width:700px;
height:550px;
display:block;
margin-left: auto;
margin-right: auto;
}
img.size{
  width: 550px;
  height: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter:contrast(150%);
  animation: anim 4s backwards;
}
@keyframes anim{
  from{
    filter:contrast(50%);

  }
  to{
    filter:contrast(190px);
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16%;
  height: 16%;
}
h3{
  font-family: 'Sulphur Point', sans-serif;
  text-align: center;
  font-size: 60px;

}
table{
  width: 100%;
  font-family: 'Sulphur Point', sans-serif;
  font-size: 30px;
  border: 6px dotted white;
  background-color: pink;
}
h1{
  text-align: center;
  font-family: 'Sulphur Point', sans-serif;
  font-size: 40px;
}
.topbar{
  overflow: hidden;
}
.topbar a:hover{
  background-color: white;
}
.topbar a.active{
  color: black;
}
h2 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size:70px;
}
p{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 30px;
}
.new1{
  border-top: 20px solid pink;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content:"";
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
}
